ul li {
    display: inline-flex;
    margin-top: 12px;
    padding-right: 4px;
    font-weight: bold;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }
    
    a { 
        text-decoration: none;
        color: rgb(255, 255, 255); }
    
    a:hover{ 
        color: darkmagenta;
    }
    
    .header {
         background-color: blue;
         color: white; 
         position: fixed; 
         height: 50px; 
         width: 100%;
         top:0;
         z-index: 1;
    
    } .footer { background-color: blue; 
        color: white; 
        height: 10vh; 
        display: flex; 
        align-items: center;

    } 
    .center { 
        justify-content: center; 
    } 
    .main {
         
         position:relative; 
         margin-top: 80px;
        height: 200vh;
      
    } 
    .wrappermain {
        width: 100%;
        height: 50vh; 
        display: grid;
        border: 1px yellow solid;  
        grid-template-columns: 5fr 3fr;
        grid-auto-rows: minmax(100px, auto);
      }
      .maincontent{
        width: 100%;
        
        border: 1px red solid;  
      }
      .ads, .subcontent{
        border: 1px blue solid;  
      }

    .wrapper {
        height: 30vh; 
        width: 100%;        
              
        border: 1px green solid;   
        display: grid;
        border-style: solid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
      }

        .post-theme { 
            font-size: 16px; 
            margin: 0; padding: 0; 
        } 
        .posts div { 
            margin-top: 10px; 
            margin-bottom: 10px;
    
    } 
    .post-title { 
        font-size: 14px; 
        font-weight: normal; 
        margin: 0; 
        padding: 0; 
        margin-bottom: 5px; 
    } 
    .post-description { 
        font-size: 12px; 
        font-weight: 400; 
        color: #464343; 
        margin: 0; 
        padding: 0; 
    }

    @media screen and (max-width: 767px) {
        .wrapper {
            grid-template-columns: 1fr 1fr;
        }
    }

    /* For Tablet View */
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .wrapper {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media screen and (min-width: 1024px) and (max-width: 1610px) {
        .wrapper {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    /* For Desktop View */
    @media screen and (min-width: 1611px) {
        .wrapper {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }       
    }