ul li {
    display: inline-flex;
    margin-top: 12px;
    padding-right: 4px;
    font-weight: bold;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }
    
    a { 
        text-decoration: none;
        color: rgb(255, 255, 255); }
    
    a:hover{ 
        color: darkmagenta;
    }
    
    .header {
         background-color: blue;
         color: white; 
         position: fixed; 
         height: 50px; 
         width: 100%;
         top:0;
         z-index: 1;
    
    } .footer { background-color: blue; 
        color: white; 
        height: 10vh; 
        display: flex; 
        align-items: center;

    } 
    .center { 
        justify-content: center; 
    } 
    .main {
         
         position:relative; 
         margin-top: 80px;
        height: 200vh;
      
    } 
    .content{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
        .post-theme { 
            font-size: 16px; 
            margin: 0; padding: 0; 
        } 
        .posts div { 
            margin-top: 10px; 
            margin-bottom: 10px;
    
    } 
    .post-title { 
        font-size: 14px; 
        font-weight: normal; 
        margin: 0; 
        padding: 0; 
        margin-bottom: 5px; 
    } 
    .post-description { 
        font-size: 12px; 
        font-weight: 400; 
        color: #464343; 
        margin: 0; 
        padding: 0; 
    }